<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Category.name} - {:config('web.WEB_TIT')}</title>
<meta name="keywords" content="{$Category.keywords}">
<meta name="description" content="{$Category.description}">
{include file="index/header"}
<div class="filter">
  <div id="subnav" class="subnav" style="display: block;">
    <div class="layui-main">
      <div class="subnav-main">
        <ul>
          <li><a href="/">全部</a></li>
          {volist name="CategoryList" id="vo"}
          <li><a href="{:url('cat/'.$vo.id)}" {if condition="$cid eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
          {/volist}
        </ul>
      </div>
    </div>    
  </div>
  <div class="sort">
    <div class="layui-main">
      <div class="sort-main">
        <a href="{:url('cat/'.$cid)}" {if condition="$sort eq ''"}class="active"{/if}>综合排序</a>
        <a href="{:url('cat/'.$cid,array('sort'=>'new'))}" {if condition="$sort eq 'new'"}class="active"{/if}>最新<i class="layui-icon" style="vertical-align: -2px;">&#xe625;</i></a>
        <a href="{:url('cat/'.$cid,array('sort'=>'hot'))}" {if condition="$sort eq 'hot'"}class="active"{/if}>销量<i class="layui-icon" style="vertical-align: -2px;">&#xe625;</i></a>
        <a href="{:url('cat/'.$cid,array('sort'=>'price'))}" {if condition="$sort eq 'price'"}class="active"{/if}>价格<i class="layui-icon" style="vertical-align: -2px;">&#xe625;</i></a>
        <a href="{:url('cat/'.$cid,array('sort'=>'rate'))}" {if condition="$sort eq 'rate'"}class="active"{/if}>折扣<i class="layui-icon" style="vertical-align: -2px;">&#xe625;</i></a>
        <a href="{:url('cat/'.$cid,array('sort'=>'quan'))}" {if condition="$sort eq 'quan'"}class="active"{/if}>券额<i class="layui-icon" style="vertical-align: -2px;">&#xe625;</i></a>
      </div>
    </div>
  </div>
</div>
<div class="goods-list">
  <div class="layui-main">
    <ul class="list-main">
      {include file="public/goods"}
    </ul>
    <!-- 分页导航 -->
    {if condition="$GoodsList->render() neq ''"}
    <div style="text-align: center">
      <div class="laypage-main">
        {$GoodsList->render()}
      </div>
    </div>
    {/if}    
  </div>
</div>
{include file="index/footer"}
</body>
</html>
