{volist name="GoodsList" id="vo"}
  <li>
    <div class="goods-main">
      <div class="pic">
        <a href="{:url('dtl/'.$vo.id)}">
          <img src="{$vo.pic}" class="lazy" alt="{$vo.title}">                             
        </a>
        {$vo.startTime|newicon}
      </div>
      {if condition="$vo.couponAmount neq 0"}
      <div class="quan">
        <a href="{:url('jump/index')}?id={$vo.id}" rel="nofollow">
          <span class="quan-info">优惠券<br><em>{$vo.couponAmount}元</em></span>
        </a>
      </div>
      {/if}
      <h3 class="title">
        <span class="label">包邮</span>{$vo.title}
      </h3>
      <div class="original-price">
        <span class="price"><em>￥</em>{$vo.price}</span>
        <span class="sold">已售 <em>{$vo.volume}</em></span>
      </div>
      <div class="coupon-price">
        <span class="price"><em>￥</em>{$vo.couponPrice}</span>
        <i class="quan-price"></i>
        <div class="btn-buy">
          <a href="{:url('jump/index')}?id={$vo.id}" rel="nofollow">
          {if condition="$vo.userType eq 0"}
            <em class="t-icon"></em>
            {else/}
            <em class="m-icon"></em>
          {/if}
          </a>
        </div>
      </div>
    </div>
  </li>
{/volist}


